
{% load otree static %}
<div class ="card bg-light m-3">
    <div class = 'card-body'>
    <h3>
        Instructions
    </h3>
    <p>
        Welcome!
    </p>

    <p>
        The following experiment is an interactive game. The game will last up to 30 minutes, but the number of periods of the game is indefinite i.e. it is possible the game may be much shorter than 30 minutes.
    </p>

    <p>
        You will be part of a virtual economy of 7 players. You will be asked to make an investment decision in which you must allocate your endowment between investment in a low-tech sector and investment in a high-tech sector.
    </p>

    <p>
        Investment in the low-tech sector guarantees a sure return, whereas, the return in investment from the high-tech sector depends on the total investment in the high-tech sector from all the players. This is because there is interdependence in the production process and production is produced under increasing returns to scale. Therefore, is a threshold level of total investment in the high-tech sector below which you will earn a negative profit.

    </p>
    <p>
        Your final payoff will be determined by your total earnings after the final period of the game.
    </p>
    <p>
        Your answers are anonymous and will not be known to other members of the group. Please answer as if you were investing your own money.

    </p>
    </div>
</div>


