
{% load otree static %}
<div class ="card bg-light m-3">
    <div class = 'card-body'>
    <h3>
        Details
    </h3>
        <p style="color: blue">
            Return on low tech investment = 3%
        </p>
    <p>
        Total high tech investment < €300-------------------------return  = -5%
    </p>

    <p>
        Total high tech investment  €300 - €399.99-----------------return  = 3%
    </p>

    <p>
        Total high tech investment  €400 - €499.99-------------------return  = 5%
    </p>

    <p>
        Total high tech investment  €500 -€599.99---------------------return  = 7%
    </p>
    <p>
        Total high tech investment  €600+ ----------------------------return  = 9%
    </p>
    <p>
        Your answers are anonymous and will not be known to other members of the group. Please answer as if you were investing your own money.

    </p>
    </div>
</div>


